# Configuration file

affichage {
    B:"Afficher distance"=true
    B:"Afficher le pseudo"=true
    B:"Afficher les FPS"=true
    B:"Afficher les coordonne"=true
    B:"Afficher les entitï¿½"=false
}


couleur {
    # Exemple : gold, black
    S:"Choisir la couleur FPS"=Aqua

    # Exemple : gold, black
    S:"Choisir la couleur Pseudo"=gold

    # Exemple : gold, black
    S:"Choisir la couleur des coordonne"=DARK_PURPLE

    # Exemple : gold, black
    S:"Choisir la couleur des distance"=Blue

    # Exemple : gold, black
    S:"Choisir la couleur des entitï¿½"=GREEN
}


placement {
    # Placement des FPS entre 10 et 250
    I:"Placement FPS X Z"=70

    # Placement des FPS entre 10 et 160
    I:"Placement FPS Y"=10

    # Placement du pseudo entre 10 et 250
    I:"Placement Pseudo X Z"=10

    # Placement du pseudo entre 10 et 160
    I:"Placement Pseudo Y"=10

    # Placement des coordonne entre 10 et 250
    I:"Placement coordonne X Z"=120

    # Placement des coordonne entre 10 et 160
    I:"Placement coordonne Y"=10

    # Placement des distance entre 10 et 250
    I:"Placement distance X Z"=250

    # Placement des distance entre 10 et 160
    I:"Placement distance Y"=10

    # Placement des entitï¿½s entre 10 et 250
    I:"Placement entitï¿½ X Z"=250

    # Placement des entitï¿½s entre 10 et 160
    I:"Placement entitï¿½ Y"=30
}


